name: Windows-RDP

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Download Ngrok
      run: |
        Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
        Expand-Archive ngrok.zip
    - name: Setup RDP and User
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1
        net user runneradmin MyPassword@123 /add
        net localgroup administrators runneradmin /add
    - name: Start Ngrok
      run: |
        ./ngrok/ngrok.exe authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
        Start-Process ./ngrok/ngrok.exe -ArgumentList "tcp 3389"
    - name: Wait for Connection
      run: |
        Write-Host "RDP is ready! Check your Ngrok Dashboard for the IP."
        $n = 1000
        while($n -gt 0) {
          Get-Process ngrok
          Start-Sleep -Seconds 60
        }
